
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

header {
  background: #2c3e50;
  color: white;
  display: flex;
}

h2 {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 30px;
}

header img {
margin-left: auto;
margin-right: 50px;
margin-top: 20px; 
}

nav {
  background:  #2c3e50;
  color: white;
  padding: 0px;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 5px;
  padding: 0px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

index_page {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 0px;
  margin-top: 0px;
}

.hero {
  text-align: center;
  padding: 15px;
  background: #3498db;
  color: white;
}

sobre_page {
  background: #2c3e50;
  color: blue;
  text-align: center;
  padding: 0px;
  margin-top: 0px;
}

footer {
  background: #2c3e50;;
  color: white;
  text-align: center;
  padding: 5px;
}

sobre_page h2{
  font-family: Arial, sans-serif;
  text-align: justify;     /* texto justificado */
  width: 60%;              /* limita largura para não ocupar toda a tela */
  color: blue;
  margin: 20px;
  margin-top: 5px;
}

sobre_page p {
  font-family: Arial, sans-serif;
  text-align: justify;     /* texto justificado */
  width: 95%;              /* limita largura para não ocupar toda a tela */
  color: blue;
  margin: 20px;
  margin-top: 0px;
}

sobre_page img {
  display: flex;
  margin: 10px;
  padding: 0px;
}

.container-videos {
  display: flex;              /* coloca os vídeos lado a lado */
  justify-content: center;    /* centraliza no meio da tela */
  gap: 50px;                  /* espaço entre os vídeos */
  margin-top: 3px;
}

video {
  border: 3px solid #3498db;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

video_page h2{
  font-family: Arial, sans-serif;
  text-align: justify;     /* texto justificado */
  width: 60%;              /* limita largura para não ocupar toda a tela */
  color: blue;
  margin: 20px;
  margin-top: 5px;
}

video_page p {
  font-family: Arial, sans-serif;
  text-align: justify;     /* texto justificado */
  width: 95%;              /* limita largura para não ocupar toda a tela */
  color: blue;
  margin: 20px;
  margin-top: 0px;
}

/* Efeito de zoom nas imagens */
.zoom {
  transition: transform 0.3s ease; /* suaviza o movimento */
  cursor: zoom-in;                /* muda o cursor */
}

.zoom:hover {
  transform: scale(1.3);          /* aumenta em 20% */
  transform-origin: center;       /* mantém o zoom centralizado */
}

.galeria {
  display: flex;
  justify-content: center; /* centraliza as imagens */
  gap: 120px;               /* espaço entre elas */
  padding: 35px;
}

.legendas {
  display: flex;
  justify-content: center; /* centraliza os textos */
  gap: 320px;               /* espaço entre os textos */
  margin-top: 0px;
  padding-bottom: 5px;
}

main1 {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

textarea {
	width: 300px;       /* largura */
    height: 230px;      /* altura da caixa de mensagem */
    resize: none;       /* impede redimensionamento manual */
}

input {
	width: 300px;       /* largura */
    resize: none;       /* impede redimensionamento manual */
}


qrcode h2{
  font-family: Arial, sans-serif;
  text-align: center;    /* texto justificado */
  width: 60%;              /* limita largura para não ocupar toda a tela */
  color: blue;
  margin: 0 auto;
  margin-top: 0px;
  display: block;
}


qrcode img {
  display: block;
  margin: 0 auto;
  padding: 15px;
  width: 290px;   /* define a largura menor */
  height: auto;   /* mantém a proporção */
}

.parceirogaleria {
  display: flex;
  justify-content: center; /* centraliza as imagens */
  gap: 140px;               /* espaço entre elas */
  padding: 35px;
}

